* {
    background-color: azure;
}

h1 {
    position: center;
    color: black;
    font-size: 70px;
    text-align: center;
}

.button-container {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

#value {
    font-size: 140px;
    text-align: center;
    margin-left: center;
}

.decrease {
    background-color: red;
}

.increase {
    background-color: green;
}

.reset {
    background-color: white;
}